{%load static%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'output.css'%}" />
    <title>{%block title%} {%endblock%}</title>
  </head>
  <body>
    {% include 'core/partials/nav.html'%} {% for message in messages%}
    <div class="m-4 py-4 px-4 bg-blue-500 text-white rounded-xl">{{message}}</div>
    {%endfor%} {% block content %} {% endblock %} {% include 'core/partials/footer.html'%}
  </body>
</html>
